name: Terraform Workflow

on:
  push:
    branches:
      - terceira-entrega

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Login Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Subindo imagem Docker
        run: |
          docker build -t ${{ secrets.DOCKER_USER }}/${{ secrets.DOCKER_REPO }}:latest . --no-cache
          docker push ${{ secrets.DOCKER_USER }}/${{ secrets.DOCKER_REPO }}:latest